@import "mocha.css";

* {
  /* reference the color by using @color-name */
  color: @text;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 16px;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
}

#memory {
  color: @flamingo;
  padding: 0px 10px;
}
#cpu {
  color: @flamingo;
  padding: 0px 10px;
}
#battery {
  color: @flamingo;
  padding: 0px 10px;
}
#clock {
  color: @mauve;
  padding: 0px 10px;
}
#workspaces {
  padding: 0px 10px;
}
#workspaces button.active{
  background-color: alpha(@overlay0, 0.4);
  border-radius: 10px;
}
#pulseaudio {
  color: @blue;
  padding: 0px 10px;
}
#pulseaudio.muted{
  color: @red;
  font-size: 20px;
  padding: 0px 10px;
}
#tray {
  color: @maroon;
  padding: 0px 10px;
}
